@model IEnumerable<BiblioMag.Models.Book>

<h2>Список книг</h2>

@if (Model.Any())
{
    <table class="table">
        <thead>
    <tr>
        <th>@Html.DisplayNameFor(m => m.First().Title)</th>
        <th>@Html.DisplayNameFor(m => m.First().Author)</th>
        <th></th>
    </tr>
</thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td><a asp-action="Details" asp-controller="Book" asp-route-id="@book.Id">Подробнее</a></td>
                </tr>
            }
        </tbody>
    </table>
}
