<h2>@Model.Title</h2>
<p>Author: @Model.Author</p>

@foreach (var property in Model.Properties)
{
    <p>@property.Key: @property.Value</p>
}

<a asp-controller="Download" asp-action="DownloadBook" asp-route-bookId="@Model.Id">Скачать книгу</a>
