<h2>@Model.Title</h2>
<p>Author: @Model.Author</p>

@foreach (var property in ViewData.ModelMetadata.Properties)
{
    <p>@property.DisplayName: @Html.DisplayFor(m => property.PropertyName)</p>
}

<a asp-action="Download" asp-controller="Book" asp-route-id="@Model.Id">Скачать книгу</a>